
<div class=" py-8 px-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    <div *ngFor="let movie of movies">
      <app-movie-component [movie]="movie"></app-movie-component>
    </div>
  </div>
</div>

<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChanged)="onPageChanged($event)"
></app-pagination>

<!--<mat-paginator [length]="totalMovies"-->
<!--               [pageSize]="20"-->
<!--               [pageSizeOptions]="[20]"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->

<!--bg-gradient-to-t from-black via-violet-500 to-purple-200-->
