<div class="bg-gradient-to-r from-purple-400 via-cyan-700 to-rose-500 text-white py-4 px-6">
  <div class="w-full flex items-center justify-between">
    <!-- Logo -->
    <div>
      <img src="../../../assets/images/film_110981.png" alt="Logo" class="h-14 w-auto">
    </div>

    <!-- Search Field -->
    <div class="flex items-center gap-1">
      <mat-form-field class="m-0">
        <mat-label>Search</mat-label>
        <input matInput>
      </mat-form-field>
      <button class="bg-white text-gray-800 font-semibold px-4 py-1.5 rounded-md">Search</button>
    </div>
  </div>
</div>
