<div class="bg-gradient-to-r from-purple-400 via-cyan-700 to-rose-500 text-white py-4 px-6">
  <div class="w-full flex items-center justify-between">
    <div class="flex gap-4 items-center">
      <a routerLink="/">
        <img src="../../../assets/images/film_110981.png" alt="Logo" class="h-14 w-auto">
      </a>
      <span class="text-white font-semibold text-4xl">Show Pulse</span>
    </div>

    <!-- Search Field -->
    <div class="flex items-center gap-1">
      <div>
        <input class="text-gray-950 px-4 py-1.5 rounded-md outline-gray-400 focus:ring-none" placeholder="Search"  [(ngModel)]="inputValue">
      </div>
      <button class="bg-white text-gray-800 font-semibold px-4 py-1.5 rounded-md" (click)="searchFilm()">Search</button>
    </div>
  </div>
</div>
