
 .custom-mat-form-field {
   margin: 0;
   padding: 0;
   width: 100%;
   /*background-color: white;*/
 }

 .custom-mat-input {
   background-color: white;
   margin: 0;

   /* Add additional custom styles as needed */
 }
